*{box-sizing: border-box;}
@font-face {
    font-family: pretendo;
    src: url(/Pretendo.ttf);
}
.body{
padding: 0.1px;
background-color: fff;
margin: 0;
background-image: url('https://i.pinimg.com/originals/ba/2b/d4/ba2bd4a308f821381d5dda09793f0b13.gif');
background-position: center;
}
.contenedora{
    width: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.sonido{
    opacity: 80%;
    border-radius: 100px ;
    -webkit-border-radius: 100px ;
    -moz-border-radius: 100px ;
    -ms-border-radius: 100px ;
    -o-border-radius: 100px ;
}
.pantalla{
    width: 70%;
    height: 70%;
    position: relative;
    left: 60px;
    top: 30px;
}
.cuerpo{
    position: relative;
    z-index: 20;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1px;
    width: 370px;
    height: 600px;
    background-color: lightgrey ;
    border-radius: 10px 10px 70px 10px;
    -webkit-border-radius: 10px 10px 70px 10px;
    -moz-border-radius: 10px 10px 70px 10px;
    -ms-border-radius: 10px 10px 70px 10px;
    -o-border-radius: 10px 10px 70px 10px;
    box-shadow: -5px 0px 2px 2px rgb(197, 195, 195), -10px 0px 5px 15px;
}
.borderpantalla{
    background-color: gray;
    width: 85%;
    height: 40%;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 80px;
    border-radius: 10px 10px 40px 10px;
    -webkit-border-radius: 10px 10px 40px 10px;
    -moz-border-radius: 10px 10px 40px 10px;
    -ms-border-radius: 10px 10px 40px 10px;
    -o-border-radius: 10px 10px 40px 10px;
}
.led{
    width: 10px;
    height: 10px;
    position: relative;
    bottom: 100px;
    left: 20px;
    background-color: rgb(250, 59, 59);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.bateria{
    position: relative;
    top: 14px;
    left: -14px;
    font-size: 10px;
    transform: scaleY(0.8);
    -webkit-transform: scaleY(0.8);
    -moz-transform: scaleY(0.8);
    -ms-transform: scaleY(0.8);
    -o-transform: scaleY(0.8);
}
.cruz{
    width: 75px;
    margin-left: 30px;
}
.circulo{
    background-color: rgb(26, 27, 27);
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 55px;
    left: 22px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-color: rgb(65, 63, 63);
    box-shadow: 0px 0px 1px 2px rgb(65, 63, 63);
}
.botontop{
    background-color: rgb(26, 27, 27);
    width: 25px;
    height: 50px;
    opacity: 95%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    top: 20px;
    left: 25px;
    border-color: rgb(65, 63, 63);
    box-shadow: 0px 0px 1px 2px black;
}
.botonleft{
    background-color: rgb(26, 27, 27);
    width: 25px;
    height: 50px;
    opacity: 95%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    top: -15px;
    left: 10px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    border-color: rgb(65, 63, 63);
    box-shadow: 0px 0px 1px 2px black;
}
.botonright{
    background-color: rgb(26, 27, 27);
    width: 25px;
    height: 50px;
    opacity: 95%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    top: -15px;
    left: 10px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    border-color: rgb(65, 63, 63);
    box-shadow: 0px 0px 1px 2px black;
}
.botonbot{
    background-color: rgb(26, 27, 27);
    width: 25px;
    height: 50px;
    opacity: 95%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    top: 47px;
    left: -4px;
    border-color: rgb(65, 63, 63);
    box-shadow: 0px 0px 1px 2px black;
}
.menu{
    width: 150px;
    height: 70px;
    position: relative;
    left: 100px;
}
.select1, .start1{
    position: relative;
    top: 2px;
    left: -10px;
    font-size: 12;
    font-family: pretendo;
    transform: scaleY(0.8);
    -webkit-transform: scaleY(0.8);
    -moz-transform: scaleY(0.8);
    -ms-transform: scaleY(0.8);
    -o-transform: scaleY(0.8);
}
.select{
    width: 50px;
    height: 10px;
    background-color: lightslategray;
    position: relative;
    top: 18px;
    border-color: black;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 3px 2px gray;
}

.start{
    width: 50px;
    height: 10px;
    background-color: lightslategray;
    position: relative;
    top: 18px;
    left: 20px;
    border-color: black;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 3px 2px gray;
}

.botones{
    background-color: rgb(179, 178, 178);
    width: 125px;
    height: 7cqb;
    position: relative;
    bottom: 180px;
    left: 220px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.boton-b{
    width: 50px;
    height: 50px;
    position: relative;
    top: 5px;
    left: 5px;
    background-color: rgb(245, 84, 84);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0px 0px 2px 2px rgb(129, 129, 129);
    border-color: rgb(245, 84, 84);
}
.boton-a{
    width: 50px;
    height: 50px;
    position: relative;
    top: 5px;
    left: 15px;
    background-color: rgb(245, 84, 84);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0px 0px 2px 2px rgb(129, 129, 129);
    border-color: rgb(245, 84, 84);
}
.a, .b{
    position: relative;
    top: 50px;
    font-family: pretendo;
}